name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 1. Скачиваем код
    - uses: actions/checkout@v4

    # 2. Подготовка файлов (создаем assets и кладем туда вопросы)
    # Это решит проблему с тем, что вопросы не попадают в приложение
    - name: Prepare Assets
      run: |
        mkdir -p assets
        cp questions.json assets/
        ls -R

    # 3. Ставим Java (обязательно 17 версия для Android)
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    # 4. Ставим Flutter
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.19.0'

    # 5. Ставим Python
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    # 6. Лицензии Android
    - name: Accept Android Licenses
      run: |
        yes | flutter doctor --android-licenses

    # 7. Ставим Flet
    - name: Install Dependencies
      run: |
        pip install flet==0.25.2

    # 8. СБОРКА (Исправленная команда)
    # Мы убрали 'main.py' из конца строки. Flet сам найдет его в текущей папке.
    - name: Build APK
      run: |
        flet build apk --project-name exam_app --verbose

    # 9. Загрузка файла
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: build/apk/app-release.apk
